<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Emails_Text</title>
  </head>
  <body>
    <h1>Extract Emails from the text</h1>
    <form id="panda" method="post">
      {% csrf_token %}
      <textarea value="text1" id="text1" spellcheck="false" style="margin: 0px; width: 732px; height: 133px;"></textarea>
      <button type="submit" id="emails_text">
        Click for Results
      </button>
      <textarea name="text2" id="text2" name="txt2" style="display: none;" spellcheck="false" style="margin: 0px; width: 732px; height: 133px;"></textarea>
      <button id="btn1" onclick="myFunction()" style="display: none;">
        Copy text
      </button>
    </form>
    <script>
      function myFunction() {
        var copyText = document.getElementById("text2");
        copyText.select();
        copyText.setSelectionRange(0, 99999);
        document.execCommand("copy");
      }
      function display_data(val) {
        var element1 = document.getElementById("text1");
        var element3=document.getElementById("btn1")
        let emails = val.match(
          /([a-zA-Z0-9._-]+@[a-zA-Z0-9._-]+\.[a-zA-Z0-9._-]+)/gi
        );
        var element2 = document.getElementById("text2");
        element1.style.display = "block";
        document.getElementById("text2").innerText = emails;
        element2.style.display = "block";
        element3.style.display="block"
      }

      var my_func = function (event) {
        event.preventDefault();
        var element1 = document.getElementById("text1");
        display_data(element1.value);
      };

      var form = document.getElementById("panda");
      form.addEventListener("submit", my_func, true);
    </script>
  </body>
</html>
